.button {
    background-color: white;
    color: #374151;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;    
    border: 2px solid #e7e7e7;
    padding: 12px 24px;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
  }


